.divLista{
    background-color: white!important;
    border-radius: 8px!important;
}
.titleList{
    color:#BFFCC6!important;
    width: 100%!important;
    text-align: center!important;
}
.rediretion{
    width: 100%;
}

.itemList{
    color:#B28DFF!important;
}